<div class="main-content">
  <div class="container-fluid">
    <div class="example-loading-shade" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" fxLayout.xs="column">
          <div fxFlex="30">
              <div class="card card-profile">
                  <div class="card-avatar">
                     
                          <img class="img" [src]="'assets/images/avatar.png' "/>
                     
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Owner \ {{profile?.Identifier | uppercase}}</h6>
                      <h4 class="card-title">{{profile?.userName | uppercase}}</h4>
                      <p class="card-description">
                          <span style="font-weight: bold;">{{profile?.companyName | uppercase}}</span> is the Optical Vision Inc offers a collection of frames, both sun- and ophthalmic. Offering many different styles from a classic look to modern day styles...
                      </p>
                  </div>
              </div>
          </div>
          <div fxFlex="70" [hidden]="adminshow_1" style="position: sticky; width: 100%;" fxFlex.xs="100" fxLayout.xs="column">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">{{profiledetails}}</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <div fxFlex="30">
                                <label class="example-margin">Company Name:</label>
                              </div>
                              <div fxFlex="50">
                                 
                                      <label class="example-full-width" style="padding-top: 26px;">{{profile.company.companyName}}</label>
                                 
                                
                                 
                               
                                  </div>
                               
                                  </div>
                                  <div fxLayout="row" fxLayoutAlign="start start">
                                      <div fxFlex="30">
                                          <label class="example-margin">UserName:</label>
                                        </div>
                                        <div fxFlex="50">
                            <label class="example-full-width" style="padding-top: 26px;">{{profile.company.userName}}</label>
                               
                      
                              
                              </div>
                              </div>
                              <div fxLayout="row" fxLayoutAlign="start start">
                                  <div fxFlex="30">
                                      <label class="example-margin">Tin:</label>
                                    </div>
                                    <div fxFlex="50">
                             
                                 <label class="example-full-width" style="padding-top: 26px;">{{profile.company.tin}}</label>
                              
                               
                        
                               
                            
                           </div>
                           </div>
                         
                              
                              <div fxLayout="row" fxLayoutAlign="start start">
                                  <div fxFlex="30">
                                      <label class="example-margin">Email:</label>
                                    </div>
                                    <div fxFlex="50">
                                      <label class="example-full-width" style="padding-top: 26px;">{{profile.company.email}}</label>
                              
                             
                              </div>
                              </div>
                              <div fxLayout="row" fxLayoutAlign="start start">
                                  <div fxFlex="30">
                                      <label class="example-margin">Address:</label>
                                    </div>
                                    <div fxFlex="50">
                                      <label class="example-full-width" style="padding-top: 26px;">{{profile.company.address}}</label>
                             
                              
                                </div>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start start">
                                    <div fxFlex="30">
                                        <label class="example-margin">Phone Number:</label>
                                      </div>
                                      <div fxFlex="50">
                                          <label class="example-full-width" style="padding-top: 26px;">{{profile.company.phoneNumber}}</label>
                               
                                 
                                  </div>
                              </div>
                              <div fxLayout="row" fxLayoutAlign="start start">
                                <div fxFlex="30">
                                  </div>
                                  <div fxFlex="50">
                                    <button mat-raised-button type="submit" style="margin: 0px 10px 5px 0px;" color="primary" (click)="editProfile()">Edit Profile</button>
                                    <button mat-raised-button type="submit" color="primary" (click)="deleteProfile()">Delete Profile</button>
                           
                             
                              </div>
                          </div>
                             
                              
                       
                    </form>
                </div>
            </div>
        </div>
       
          <div fxFlex="70" [hidden]="adminshow_2" style="position: sticky; width: 100%;" fxFlex.xs="100" fxLayout.xs="column">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{profiledetails}}</h4>
                       <p class="card-category">Complete your profile</p> 
                  </div>
                  <div class="card-body">
                      <form #userForm="ngForm">
                        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" >
                            <div fxFlex="50" class="example-container">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Company Name" type="text" name="companyname" #companyName="ngModel" [(ngModel)]="currentCompany.companyName" required>
                                </mat-form-field>
                                <mat-error class="error-message mat-body-1 center-align" *ngIf="companyName.touched && !companyName.valid">
                                    <mat-error *ngIf="companyName.errors.required">Company Name is Required</mat-error>
                              
                                    </mat-error>
                            </div>
                            
                            <div fxFlex="50" class="example-container">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="User Name" type="text" name="username" #userName="ngModel" [(ngModel)]="currentCompany.userName" required>
                                </mat-form-field>
                                <mat-error class="error-message mat-body-1 center-align" *ngIf="userName.touched && !userName.valid">
                                    <mat-error *ngIf="userName.errors.required">User Name is Required</mat-error>
                              
                                    </mat-error>
                            </div>

                        </div>
                        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
                            <div fxFlex="50" class="example-container">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email Address" type="email" name="email" #Email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="currentCompany.email" required>
                                
                              </mat-form-field>
                              <mat-error class="error-message mat-body-1 center-align" *ngIf="Email.touched && !Email.valid">
                                  <mat-error *ngIf="Email.errors.required">Email is Required</mat-error>
                                  <mat-error *ngIf="Email.errors.pattern">Not Valid Email</mat-error>
                            </mat-error>
                            </div>
                            <div fxFlex="50" class="example-container">
                              <mat-form-field class="example-full-width">
                                  <span matPrefix>+91 &nbsp;</span>
                                <input matInput placeholder="Phone Number" type="number" name="phonenumber" maxlength="10" [(ngModel)]="currentCompany.phoneNumber">
                                <mat-icon matSuffix>mode_edit</mat-icon>
                              </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
                            <div fxFlex="50" class="example-container">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Address" type="text" name="address" [(ngModel)]="currentCompany.address">
                              </mat-form-field>
                            </div>
                            <div fxFlex="50" class="example-container">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Tin Number" type="text" name="tin" [(ngModel)]="currentCompany.tin">
                              </mat-form-field>
                            </div>
                        </div>
                        <div fxLayoutGap="10px" fxLayout="column" style="margin: 10px 0 7px 0;">
                          <div fxFlex="100">
                            <h6 style="padding-left: 10px; margin-bottom: 0;"><b>Change Password</b></h6>
                          </div>
                          <div fxFlex="100">
                            <div fxLayout="row" fxLayoutGap="10px">
                              <div fxFlex="33.5"  class="example-container">
                                <mat-form-field class="full-width">
                                  <input matInput placeholder="Current Password" [type]="hide ? 'password' : 'text'" name="currentPassword" [(ngModel)]="currentCompany.currentPassword">
                                  <mat-icon class="cursor" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon> 
                                </mat-form-field>
                              </div>
                              <div fxFlex="33.5"  class="example-container">
                                <mat-form-field class="full-width">
                                  <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'" name="newPassword" [(ngModel)]="currentCompany.newPassword">
                                  <mat-icon class="cursor" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon> 
                                </mat-form-field>
                              </div>
                              <div fxFlex="33.5" class="example-container">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Confirm New Password" [type]="hide ? 'password' : 'text'" name="cnfNewPassword" [(ngModel)]="currentCompany.cnfNewPassword">
                                    <mat-icon class="cursor" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                  </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start start">
                          
                          <div fxFlex="50" style="padding-left: 10px;">
                            <button mat-raised-button style="margin-right: 10px;" type="submit" color="primary" (click)="UpdateProfile()" [disabled]="userForm.invalid">Update Profile</button>
                            <button mat-raised-button type="submit" color="primary" (click)="back()">Back</button>
                          </div>
                        
                        </div>
                      </form>
                  </div>
              </div>
          </div>
         
      </div>
  </div>
</div>
