
<div fxLayout="row" fxLayoutAlign="center center" style="background-color:#e0e0e0;">

    <mat-card fxFlex="50" class="mat-elevation-z4 visionheight">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
      <mat-card-title style="text-align:center" class="opticvision">
  
        <img src="assets/camera.png" width="50px">
        <span>ptic Visions</span>
  
      </mat-card-title>
      <mat-card-content class="opticvision_1">
        <div class="backgroundcolor">
          <h3 style="text-align:center; padding: 5px;">Sign Up For Admin</h3>
        </div>
  
        <form  [formGroup]="RegistrationForm" class="example-container" fxLayout="column" fxLayoutAlign="start stretch"
          #userForm="ngForm">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-md="20px">
            <div fxFlex="50" class="example-container">
                <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="CompanyName" formControlName="companyName" required>
                    <mat-error *ngFor="let validation of account_validation_messages.companyname">
                      <mat-error class="error-message" *ngIf="RegistrationForm.get('companyName').hasError(validation.type) && (RegistrationForm.get('companyName').dirty || RegistrationForm.get('companyName').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
              
             
            
             
            </div>
            <div fxFlex="50" class="example-container">
              <mat-form-field class="full-width">
                <input matInput placeholder="Tin Number" formControlName="tinNumber" id="tinNumber">
  
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-md="20px">
            <div fxFlex="50" class="example-container">
                <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="UserName" formControlName="userName" required>
                    <mat-error *ngFor="let validation of account_validation_messages.username">
                      <mat-error class="error-message" *ngIf="RegistrationForm.get('userName').hasError(validation.type) && (RegistrationForm.get('userName').dirty || RegistrationForm.get('userName').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
              <!-- <mat-form-field class="example-container" fxFlex="100">
                <input matInput placeholder="UserName" formControlName="userName" id="userName"
                  required>
  
              </mat-form-field>
              <span *ngIf="isValid('userName')">userName is required</span> -->
            </div>
            <div fxFlex="50" class="example-container">
                <mat-form-field class="full-width">
                    <input matInput type="email" placeholder="Email" formControlName="email" required>
                    <mat-error *ngFor="let validation of account_validation_messages.email">
                      <mat-error class="error-message" *ngIf="RegistrationForm.get('email').hasError(validation.type) && (RegistrationForm.get('email').dirty || RegistrationForm.get('email').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                <!-- <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email"  id="email"
                    required>
    
                </mat-form-field>
                <span *ngIf="isValid('email')">Entered email is invalid</span> -->
              </div>
          
          </div>
         
  
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-md="20px">
              <div fxFlex="50" class="example-container">
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                      <mat-icon matSuffix class="cursor" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      <mat-error *ngFor="let validation of account_validation_messages.password">
                        <mat-error class="error-message" *ngIf="RegistrationForm.get('password').hasError(validation.type) && (RegistrationForm.get('password').dirty || RegistrationForm.get('password').touched)">{{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  <!-- <mat-form-field>
                    <input matInput placeholder="Password" type="password" formControlName="password" id="pass">
                     <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>  
                  </mat-form-field>
                  <span *ngIf="isValid('password')">Password is a mandatory field</span> -->
                </div>
            <div fxFlex="50" class="example-container">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" formControlName="cnfPassword"  [errorStateMatcher]="parentErrorStateMatcher" required>
                    <mat-icon matSuffix class="cursor" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
                      <mat-error class="error-message" *ngIf="(RegistrationForm.get('cnfPassword').hasError(validation.type)|| RegistrationForm.get('password').hasError(validation.type)) && (RegistrationForm.get('cnfPassword').dirty || RegistrationForm.get('cnfPassword').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                <!-- <mat-form-field class="example-container" fxFlex="100">
                  <input matInput placeholder="Re-enter Password" type="password"  formControlName="cnfPassword"  id="cnfPass">
    
                </mat-form-field>
                <span *ngIf="isValid('cnfPassword')">Password and confirm password should match</span> -->
              </div>
           
          </div>
  
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-md="20px">
            <div fxFlex="50" class="example-container">
                <mat-form-field class="full-width" hintLabel="Max 256 characters">
                    <input matInput type="text" #input maxlength="256" placeholder="Address" formControlName="address" required>
                    <mat-hint align="end">{{input.value?.length || 0}}/256</mat-hint>
                    <mat-error *ngFor="let validation of account_validation_messages.address">
                      <mat-error class="error-message" *ngIf="RegistrationForm.get('address').hasError(validation.type) && (RegistrationForm.get('address').dirty || RegistrationForm.get('address').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
              <!-- <mat-form-field class="example-container" fxFlex="100">
                
                <input matInput placeholder="Address" formControlName="address"  id="address"
                  required>
  
              </mat-form-field>
              <span *ngIf="isValid('address')">address is required</span> -->
            </div>
            <div fxFlex="50" class="example-container">
                <mat-form-field class="full-width" hintLabel="Max 10 numbers">
                    <span matPrefix>+91 &nbsp;</span>
                    <input matInput type="text" #input1 maxlength="10" placeholder="PhoneNumber" formControlName="phoneNumber" required>
                    <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
                    <mat-hint align="end">{{input1.value?.length || 0}}/10</mat-hint>
                    <mat-error *ngFor="let validation of account_validation_messages.phonenumber">
                      <mat-error class="error-message" *ngIf="RegistrationForm.get('phoneNumber').hasError(validation.type) && (RegistrationForm.get('phoneNumber').dirty || RegistrationForm.get('phoneNumber').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
              <!-- <mat-form-field class="example-container" fxFlex="100">
                <input matInput placeholder="Phone Number" type="number" formControlName="phoneNumber" id="phoneNumber"
                  required>
  
              </mat-form-field>
              <span *ngIf="isValid('phoneNumber')">phoneNumber is required</span> -->
            </div>
          </div>
         <div fxLayout="row">
           <div fxFlex="100">
             
                  <input type="file"  (change)="onFileChange($event)" style="display:none" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
                  <label class="box" for="file-7"><span [ngStyle]="styleOne?{'color': 'black'} : {'color': 'white'}"></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Upload a Image&hellip;</strong></label>
              
              <!-- <label for="file-upload" class="custom-file-upload">
                  Custom Upload
              </label> -->
              <!-- <div class="file-field">
                  <div class="btn btn-primary btn-sm float-left">
                      <span>Choose file</span>
                      <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Upload your file">
                  </div>
              </div> -->
              <!-- <input id="file-upload"style="width:200px" size="60" value="upload" type="file"/> -->
              <!-- <input id="photo" type="file" /> -->
            </div>
            </div>
         
  
  
  
  
          <button mat-raised-button type="reset" color="primary" type="submit" class="login register_margin" [disabled]="userForm.invalid" (click)="signUp()">REGISTER</button>
       
        </form>
  
      </mat-card-content>
      <div style="text-align: center;">
        <button mat-raised-button color="primary" class="login register_margin" (click)="movetologin()">Back to LoginPage</button>                
      </div>
  
    </mat-card>
   
    
  </div>
  <!-- <div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-color:whitesmoke">
    
    <mat-card>
      <div>
        <mat-card-title>
            <div class="opticvision">
              <img src="assets/camera.png" width="30px"> 
              <span>ptic Visions</span>
            </div>
          </mat-card-title>
          <mat-card-content>
              <form class="example-container" fxLayout="column" fxLayoutAlign="start stretch" (submit)="loginUser($event)" #userForm="ngForm">
                  <mat-form-field class="form_bottom">
                      <input matInput placeholder="Email" #email="ngModel"  [ngModel]="emailname"  name ="email" required>
                    
                      </mat-form-field>
                    <span style="color:red" *ngIf="email.touched && !email.valid">
                    <div *ngIf="email.errors.required">Email is Required</div>
              
                    </span>
                  <mat-form-field class="form_bottom">
                    <input matInput placeholder="Password" type="password" name="password" #password1="ngModel" [ngModel]="passwordname" required>
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon> 
                    </mat-form-field>
                    <span style="color:red" *ngIf="password1.touched && !password1.valid">
                      <div *ngIf="password1.errors.required">Password is Required</div>
                
                      </span>
                <button mat-raised-button color="primary" type="submit" class="login" [disabled]="userForm.invalid">Log In</button>
              </form>
              <div style="text-align:right">
                  <h3><a  class="redirect" [routerLink]="['/register']">Signup For Admin</a></h3>
              </div>
              
            </mat-card-content>
          </div>
    </mat-card>
    
  </div>
       -->
  
  
  
  
  
  <!-- <div fxLayout="row" fxFlexFill fxLayoutAlign="center" style="background-color:#677069;">
  
          <div class=" mat-elevation-z4" >
              <mat-card class="card">
                  <mat-card-title>
                    <h2>SIGN IN</h2>
                  </mat-card-title>
                  <mat-card-content>
                      <form fxLayout="column" fxLayoutAlign="start stretch" (submit)="loginUser($event)" #userForm="ngForm">
                          <mat-form-field>
                              <input matInput placeholder="Enter your email" #email="ngModel"  [ngModel]="emailname"  name ="email" required>
                            
                              </mat-form-field>
                            <span style="color:red" *ngIf="email.touched && !email.valid">
                            <div *ngIf="email.errors.required">Email is Required</div>
                      
                            </span>
                        <mat-form-field>
                            <input matInput placeholder="Enter your password" type="password" name="password" #password1="ngModel" [ngModel]="passwordname" required>
                             <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            </mat-form-field>
                            <span style="color:red" *ngIf="password1.touched && !password1.valid">
                              <div *ngIf="password1.errors.required">Password is Required</div>
                        
                              </span>
                        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">log in</button>
                      </form>
                    </mat-card-content>
                    <a class="redirect" [routerLink]="['/register']">Register an account</a>
                  </mat-card>
            
  
    </div>
  
  </div> -->


<!-- <div fxLayout="row" fxLayoutAlign="center center" style="background-color:#e0e0e0;">

  <mat-card fxFlex="50" class="mat-elevation-z4 visionheight">
    <mat-card-title style="text-align:center" class="opticvision">

      <img src="assets/camera.png" width="50px">
      <span>ptic Visions</span>

    </mat-card-title>
    <mat-card-content class="opticvision_1">
      <div class="backgroundcolor">
        <h3 style="text-align:center; padding: 5px;">Sign Up For Admin</h3>
      </div>

      <form  [formGroup]="Registeration" class="example-container" fxLayout="column" fxLayoutAlign="start stretch"
        #userForm="ngForm">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-md="20px">
          <div fxFlex="50" class="example-container">
            <mat-form-field>
              <input matInput placeholder="CompanyName" #companyname="ngModel" [ngModel]="companyName" name="companyname"
                required>

            </mat-form-field>
            <span style="color:red" *ngIf="companyname.touched && !companyname.valid">
                <div *ngIf="companyname.errors.required">CompanyName is Required</div>
  
              </span>
          </div>
          <div fxFlex="50" class="example-container">
            <mat-form-field>
              <input matInput placeholder="Tin Number" #tinnumber="ngModel" [ngModel]="tinNumber" name="tinnumber"
                required>

            </mat-form-field>
            <span style="color:red" *ngIf="tinnumber.touched && !tinnumber.valid">
                <div *ngIf="tinnumber.errors.required">Tin.No is Required</div>
  
              </span>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-md="20px">
          <div fxFlex="50" class="example-container">
            <mat-form-field class="example-container" fxFlex="100">
              <input matInput placeholder="UserName" #userName="ngModel" [ngModel]="username" name="username"
                required>

            </mat-form-field>
            <span style="color:red" *ngIf="userName.touched && !userName.valid">
              <div *ngIf="userName.errors.required">FirstName is Required</div>

            </span>
          </div>
          <div fxFlex="50" class="example-container">
              <mat-form-field>
                <input matInput placeholder="Email" #email="ngModel" [ngModel]="emailname" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                  required>
  
              </mat-form-field>
              <span style="color:red" *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required">Email is Required</div>
                <div *ngIf="email.errors.pattern">Not a Valid Email</div>
              </span>
            </div>
        
        </div>
       

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-md="20px">
            <div fxFlex="50" class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Password" type="password" name="password" #password1="ngModel" [ngModel]="passwordname"
                    required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>  
                </mat-form-field>
                <span style="color:red" *ngIf="password1.touched && !password1.valid">
                  <div *ngIf="password1.errors.required">Password is Required</div>
    
                </span>
              </div>
          <div fxFlex="50" class="example-container">
              <mat-form-field class="example-container" fxFlex="100">
                <input matInput placeholder="ConfirmPassword" #cnfPassword="ngModel" [ngModel]="cnfpassword" name="cnfpassword" required>
  
              </mat-form-field>
              <span style="color:red" *ngIf="cnfPassword.touched && !cnfPassword.valid">
                <div *ngIf="cnfPassword.errors.required">LastName is Required</div>
              </span>
            </div>
         
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-md="20px">
          <div fxFlex="50" class="example-container">
            <mat-form-field class="example-container" fxFlex="100">
              
              <input matInput placeholder="Address" #address="ngModel" [ngModel]="Address" name="address"
                required>

            </mat-form-field>
            <span style="color:red" *ngIf="address.touched && !address.valid">
                <div *ngIf="address.errors.required">Address is Required</div>
  
              </span>
          </div>
          <div fxFlex="50" class="example-container">
            <mat-form-field class="example-container" fxFlex="100">
              <input matInput placeholder="Phone Number" #phonenumber="ngModel" [ngModel]="Phonenumber" name="phonenumber"
                required>

            </mat-form-field>
            <span style="color:red" *ngIf="phonenumber.touched && !phonenumber.valid">
                <div *ngIf="phonenumber.errors.required">Phone Number is Required</div>
  
              </span>
          </div>
        </div>




        <button mat-raised-button color="primary" type="submit" class="login" [disabled]="userForm.invalid" (click)="signUp()">REGISTER</button>

      </form>

    </mat-card-content>


  </mat-card>
</div>
 <div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-color:whitesmoke">
	
	<mat-card>
		<div>
			<mat-card-title>
					<div class="opticvision">
						<img src="assets/camera.png" width="30px"> 
						<span>ptic Visions</span>
					</div>
				</mat-card-title>
				<mat-card-content>
						<form class="example-container" fxLayout="column" fxLayoutAlign="start stretch" (submit)="loginUser($event)" #userForm="ngForm">
								<mat-form-field class="form_bottom">
										<input matInput placeholder="Email" #email="ngModel"  [ngModel]="emailname"  name ="email" required>
									
									  </mat-form-field>
									<span style="color:red" *ngIf="email.touched && !email.valid">
									<div *ngIf="email.errors.required">Email is Required</div>
						
									</span>
								<mat-form-field class="form_bottom">
									<input matInput placeholder="Password" type="password" name="password" #password1="ngModel" [ngModel]="passwordname" required>
									  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon> 
								  </mat-form-field>
								  <span style="color:red" *ngIf="password1.touched && !password1.valid">
										<div *ngIf="password1.errors.required">Password is Required</div>
							
										</span>
							<button mat-raised-button color="primary" type="submit" class="login" [disabled]="userForm.invalid">Log In</button>
						</form>
						<div style="text-align:right">
								<h3><a  class="redirect" [routerLink]="['/register']">Signup For Admin</a></h3>
						</div>
						
					</mat-card-content>
				</div>
	</mat-card>
	
</div>
		 -->





<!-- <div fxLayout="row" fxFlexFill fxLayoutAlign="center" style="background-color:#677069;">

				<div class=" mat-elevation-z4" >
						<mat-card class="card">
								<mat-card-title>
									<h2>SIGN IN</h2>
								</mat-card-title>
								<mat-card-content>
										<form fxLayout="column" fxLayoutAlign="start stretch" (submit)="loginUser($event)" #userForm="ngForm">
												<mat-form-field>
														<input matInput placeholder="Enter your email" #email="ngModel"  [ngModel]="emailname"  name ="email" required>
													
													  </mat-form-field>
													<span style="color:red" *ngIf="email.touched && !email.valid">
													<div *ngIf="email.errors.required">Email is Required</div>
										
													</span>
											<mat-form-field>
													<input matInput placeholder="Enter your password" type="password" name="password" #password1="ngModel" [ngModel]="passwordname" required>
													 <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
												  </mat-form-field>
												  <span style="color:red" *ngIf="password1.touched && !password1.valid">
														<div *ngIf="password1.errors.required">Password is Required</div>
											
														</span>
											<button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">log in</button>
										</form>
									</mat-card-content>
									<a class="redirect" [routerLink]="['/register']">Register an account</a>
								</mat-card>
	        

	</div>

</div> --> 