


.login{
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: -webkit-body;
}
.forget{
    color: dodgerblue;
    text-align: right;
}


.opticvision{
    font-size: 50px;
    font-family: -webkit-body;
}
.opticvision span{
   
    color: dodgerblue;
   
}
div > span {
    font-size: 0.75rem;
    color: firebrick;
}
.is-invalid{
    font-size: 0.75rem;
    color: firebrick;
}
.form_bottom{
    margin: 20px 0px;
}
.visionheight{
    background-color:#ffffff;
    }
   .cursor{
       cursor: pointer;
   }
@media only screen and (min-width: 1281px) {
  
   .opticvision_1{
    font-size: 18px;
    font-family: -webkit-body;
   }
    
  }
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }