@import '~compass-mixins/lib/compass/css3';
@import '~@angular/material/theming';
@import '../app/main/main.component.scss';
@import '../app/top-menu/sidemenu/sidemenu.component.scss';
@import '../app/top-menu/sidemenu-item/sidemenu-item.component.scss';
@import '../app/dashboard-widget/dashcard/dashcard.component.scss';
@import '../app/dashboard-widget/profile-card/profile-card.component.scss';
@import '../app/dashboard-widget/round-progressbar/round-progressbar.component.scss';
@import '../app/dashboard-widget/sales-list/sales-list.component.scss';
$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: map_get($mat-indigo, 50),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

@include mat-core();
$primary : $mat-blue;
$accent  : $mat-indigo;
$warn    : $mat-red;



$primary-app-primary: mat-palette($primary ,500);
$primary-app-accent:  mat-palette($accent , 600);
$primary-app-warn:    mat-palette($warn );
$cdk-theme:   mat-light-theme($primary-app-primary, $primary-app-accent,$primary-app-warn);

 app-sidemenu{
    $sidemenu-app-primary: mat-palette($primary , 400);
    $sidemenu-app-accent:  mat-palette($accent , 900);
     $sidemenu-app-warn:    mat-palette($warn );
     $cdk-sidemenu-theme:   mat-dark-theme($sidemenu-app-primary, $sidemenu-app-accent,$sidemenu-app-warn);
    @include mat-list-theme($cdk-sidemenu-theme);
}


 app-sidemenu-item{
     @include sidemenu-item($cdk-theme,20px)
 }


 cdk-dashcard {
    $dashcard-primary: mat-palette($primary);
    $dashcard-accent:  mat-palette($accent);
    $dashcard-warn:    mat-palette($warn);
     $dashcard-theme:   mat-dark-theme($dashcard-primary, $dashcard-accent,$dashcard-warn);
     @include dashcard($dashcard-theme);
}

cdk-profile-card{
  $dashboard-profile-primary: mat-palette($primary , 400);
    $dashboard-profile-accent:  mat-palette($accent , 900);
    $dashboard-profile-warn:    mat-palette($warn );
    $cdk-dashboard-profile-theme:   mat-dark-theme($dashboard-profile-primary, $dashboard-profile-accent,$dashboard-profile-warn);
    @include dashboard-profile($cdk-dashboard-profile-theme);
  @include mat-tabs-theme($cdk-dashboard-profile-theme);
}
@include angular-material-theme($cdk-theme);
@include main($cdk-theme);
@include round-progressbar($cdk-theme);
@include sales-list($cdk-theme);

html {
  height:100%;
}
body{
  padding: 0px !important;
  margin: 0px !important;
  height:100%;
  background-color: #e0e0e0;
}
.components-container-gt-xs {
    padding: 20px;
    // background-color: #fdfdfd;
}
.components-container-xs {
    padding: 5px !important;
    // background-color: #fdfdfd;
}
.component-preview {
    padding: 20px;
}
.ps-content {
  height: 100%;
}

.loader-container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: absolute;

    -moz-animation: cssAnimation 1s ease-in 3s forwards;
    /* Firefox */
    animation: cssAnimation 1s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 1s ease-in 3s forwards;
    /* Opera */
    animation: cssAnimation 1s ease-in 3s forwards;
    animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        opacity:0;
        display: none;
        visibility:hidden;
    }
}
@keyframes cssAnimation {
    to {
        visibility:hidden;
        opacity:0;
        display: none;
    }
}



// .spinner {
//     margin: 50vh auto 0;
//     width: 70px;
//     text-align: center;
// }

// .spinner > div {
//   width: 18px;
//   height: 18px;


//   border-radius: 100%;
//   display: inline-block;
//   animation: sk-bouncedelay 1.4s infinite ease-in-out both;
//   animation: sk-bouncedelay 1.4s infinite ease-in-out both;
// }

// .bounce3 {
//     background-color: orange;
// }

// .spinner .bounce1 {
//     background-color: blue;
//   animation-delay: -0.32s;
//   animation-delay: -0.32s;
// }

// .spinner .bounce2 {
//     background-color: red;
//   animation-delay: -0.16s;
//   animation-delay: -0.16s;
// }



// @keyframes sk-bouncedelay {
//   0%, 80%, 100% { transform: scale(0) }
//   40% { transform: scale(1.0) }
// }

// @keyframes sk-bouncedelay {
//   0%, 80%, 100% {
//     transform: scale(0);
//     transform: scale(0);
//   } 40% {
//     transform: scale(1.0);
//     transform: scale(1.0);
//   }
// }

.backgroundcolor{
    background-color: #42a5f5;
    color: #ffffffff;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 5px;
  }
  .cursor{
    cursor: pointer;
}
.mat-tab-label-content{
  font-size: x-large;
}
.mat-tab-body-wrapper{
  margin-top: 20px;
}
////uppload image custom style

.inputfile-6 + label {
  color: #8a8686;
}
.inputfile-6 + label {
  border: 1px solid #42a5f5;
  background-color: #ffffff;
  padding: 0;
}
.inputfile + label {
  max-width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  // padding: 0.625rem 1.25rem;
}
.inputfile-6 + label span {
  width: 425px;
  min-height: 2em;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}
.inputfile-6 + label span, .inputfile-6 + label strong {
  padding: 0.625rem 1.25rem;
}
.inputfile-6 + label strong {
  height: 100%;
  color: #ffffff;
  background-color: #42a5f5;
  display: inline-block;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.box{
  margin-top: 10px;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.mat-subheading-2{
  color: #ffffff;
}
.form-header {
	background-color: #327ebd;
	color: white;
	padding: 0 5px;
}
.mat-form-field{
	padding-left:10px;
}
.container{
	padding-left:10px;
	padding-right:10px;
}
.form-container {
	padding: 5px 15px 15px 15px;
}
.form-component-holder {
	border: 1px solid #327ebd;
	background-color: white;
}
.button-style{
	background-color: #327ebd;
	font-weight: bold;
}
.center-align{
	color: red;
    padding-left: 10px;
}
div.addmargin{
  margin: 10px 0px;
  font-size: .875rem;
  }
  .example-margin {
      padding: 26px;
  }
.example-full-width {
      width: 100%;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  td, th {
    padding-right: 10px !important;
  }
  .toolbar-spacer{
    flex: 1 1 auto;
}
.toolbar{
border-radius: 5px;
}
.form-group {
    margin: 1rem 0rem;
}

//animation loader css style
$speed: 1.5s;
.loader {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 175px;
  height: 100px;
  span {
    display: block;
    background: #ccc;
    width: 7px;
    height: 10%;
    border-radius: 14px;
    margin-right: 5px;
    float: left;
    margin-top: 25%;
    &:last-child {
      margin-right: 0px;
    }
    &:nth-child(1) {
      animation: load $speed 1.4s infinite linear;
    }
    &:nth-child(2) {
      animation: load $speed 1.2s infinite linear;
    }
    &:nth-child(3) {
      animation: load $speed 1s infinite linear;
    }
    &:nth-child(4) {
      animation: load $speed 0.8s infinite linear;
    }
    &:nth-child(5) {
      animation: load $speed 0.6s infinite linear;
    }
    &:nth-child(6) {
      animation: load $speed 0.4s infinite linear;
    }
    &:nth-child(7) {
      animation: load $speed 0.2s infinite linear;
    }
    &:nth-child(8) {
      animation: load $speed 0s infinite linear;
    }
    &:nth-child(9) {
      animation: load $speed 0.2s infinite linear;
    }
    &:nth-child(10) {
      animation: load $speed 0.4s infinite linear;
    }
    &:nth-child(11) {
      animation: load $speed 0.6s infinite linear;
    }
    &:nth-child(12) {
      animation: load $speed 0.8s infinite linear;
    }
    &:nth-child(13) {
      animation: load $speed 1s infinite linear;
    }
    &:nth-child(14) {
      animation: load $speed 1.2s infinite linear;
    }
    &:nth-child(15) {
      animation: load $speed 1.4s infinite linear;
    }
  }
}

@keyframes load {
  0% {
    background: #ccc;
    margin-top: 25%;
    height: 10%;
  }
  50% {
    background: #444;
    height: 100%;
    margin-top: 0%;
  }
  100% {
    background: #ccc;
    height: 10%;
    margin-top: 25%;
  }
}
