

.redirect{
    color: #607d8b;
}
.login{
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: -webkit-body;
}
.forget{
    color: dodgerblue;
    text-align: right;
}
.opticvision{
    font-size: 60px;
    font-family: -webkit-body;
}
.opticvision span{
   
    color: dodgerblue;
   
}


.form_bottom{
    margin: 20px 0px;
}
.visionheight{
    background-color:#ffffff;
    }
@media only screen and (min-width: 1281px) {
  
   .opticvision_1{
    font-size: 18px;
    font-family: -webkit-body;
   }
  
  
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  
    .opticvision{
        font-size: 30px;
        font-family: -webkit-body;
    }
     
   }
   .heading_1{
       text-align: center;
       color: #ffffff;
       background-color: dodgerblue;
   }
   