<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-color:whitesmoke">
	
    <mat-card style="min-width: 45%;">
     
        <mat-card-title  style="text-align:center" class="opticvision">
           
              <img src="assets/camera.png" width="50px"> 
              <span>ptic Visions</span>
         
          </mat-card-title>
          <mat-card-content class="opticvision_1">
            	<h3 class="heading_1">FORGET PASSWORD Block</h3>
              <form [hidden]="content_hide" [formGroup]="UpdatePasswordForm"  class="example-container" fxLayout="column" fxLayoutAlign="start stretch" #passwordForm="ngForm">
                  <mat-form-field>
                      <input matInput placeholder="Temporary Password" formControlName="tempPassword"  name ="temppassword" required>
                      <mat-error *ngFor="let validation of ForgetPassword_validation_messages.temppassword">
                        <mat-error class="error-message" *ngIf="UpdatePasswordForm.get('tempPassword').hasError(validation.type) && (UpdatePasswordForm.get('tempPassword').dirty || UpdatePasswordForm.get('tempPassword').touched)">{{validation.message}}</mat-error>
                      </mat-error>
                      </mat-form-field>
                    <!-- <div class="mat-body-1 center-align" *ngIf="temppassword.touched && !temppassword.valid">
                    <div *ngIf="temppassword.errors.required">Field is Required</div>
              
                    </div> -->
                  <mat-form-field>
                    <input matInput placeholder=" Enter New Password" [type]="hide ? 'password' : 'text'" name="password" formControlName="newPassword" required>
                      <mat-icon matSuffix class="cursor" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon> 
                      <mat-error *ngFor="let validation of ForgetPassword_validation_messages.password">
                        <mat-error class="error-message" *ngIf="UpdatePasswordForm.get('newPassword').hasError(validation.type) && (UpdatePasswordForm.get('newPassword').dirty || UpdatePasswordForm.get('newPassword').touched)">{{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                    <!-- <div class="mat-body-1 center-align" *ngIf="Password.touched && !Password.valid">
                      <div *ngIf="Password.errors.required">Password is Required</div>
                
                    </div> -->
                      <mat-form-field>
                          <input matInput placeholder="Repeat New Password" [type]="hide1 ? 'password' : 'text'" name="cnfpassword" formControlName="cnfPassword"  required>
                            <mat-icon matSuffix class="cursor" (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngFor="let validation of ForgetPassword_validation_messages.confirm_password">
                              <mat-error class="error-message" *ngIf="(UpdatePasswordForm.get('cnfPassword').hasError(validation.type)|| UpdatePasswordForm.get('newPassword').hasError(validation.type)) && (UpdatePasswordForm.get('cnfPassword').dirty || UpdatePasswordForm.get('cnfPassword').touched)">{{validation.message}}</mat-error>
                            </mat-error> 
                          </mat-form-field>
                          <!-- <div class="mat-body-1 center-align" *ngIf="cnfPassword.touched && !cnfPassword.valid">
                            <div *ngIf="cnfPassword.errors.required">Confirm Password is Required</div>
                            <div *ngIf="confirmpassworderror">Password is Not Match</div>
                           </div> -->
                          
                <button mat-raised-button color="primary" type="submit" class="login" [disabled]="passwordForm.invalid" (click)="OnChangePassword()">Change Password</button>
                    </form>
              <h5>{{noRecord}}</h5>
            </mat-card-content>
         
    </mat-card>
    
  </div>